*,
*::before,
*:active {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #2C2141;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.card {
    background-color: #F8F8F8;
    border-radius: 16px;
    width: 624px;
    padding: 32px;

    display: flex;
    align-items: flex-start;
}

.name {
    font-size: 36px;
    margin: 0px;
}
.profession {
    font-size: 18px;
}