*,
*::before,
*:active {
    box-sizing: border-box;
}

body {
    background-color: #2C2141;

    height: 100vh;
}

main {
    display: flex;
}
.card {
    background-color: #F8F8F8;
    border-radius: 16px;
    width: 624px;
    padding: 32px;
}